.top-bit {
    text-align: center;
    background-color: white;
    color: #221c35;
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    font-size: 40px;
}

.header {
    text-align: left;
    padding-left: 1rem;
}



.test {
    position: relative;
    height: 100vh;
    width: 100%;
}

.contact-sales-button {
    margin: 3rem 0;
    font-size: 50px;
    color: white;
    background-color: #221c35;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: .5rem 1.25rem;
    border: 1px solid #221c35;
}

.contact-sales-button:hover {
    color: #221c35;
    background-color: #31a97a;
    border: 1px solid white;
}

.contact-sales {
    font-size: 40px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: white;
    width: 100%;
}

.roi-container {
    display: flex;
    margin-bottom: 100px;
   
}

.roi-section {
    display: inline;
    background-color: #221c35;
    color: white;
    font-size: 120px;
    padding: 0 10rem;
    border-radius: 75px;
}

.mrr-and-ltv {
    font-size: 50px;
    color: white;
    width: 100%;
    background-color: #221c35;
    text-align: center;
    padding: 1rem 6rem;
}

.disclaimer {
    padding-top: 1.25rem;
    font-size: 30px;
    width: 100%;
    text-align: right;
    margin-bottom: 50px
}

.disclaimer-text {
    display: inline-block;
}



.disclaimer-icon {
    color: #221c35;
    font-size: 60px;
    vertical-align: top;
    display: inline-block;
    padding-left: 2rem;
    padding-right: 1rem;
}


.calc-button {
    font-size: 40px;
    color: #221c35;
    background-color: #37cb94;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: .5rem .75rem;
    border: 1px solid #37cb94;
}

.calc-button:hover {
    color: #37cb94;
    background-color: #221c35;
    border: 1px solid #37cb94;
}

.upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #221c35;
}

.lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #31a97a;
}

.main-calc {
    margin-top: 10rem;
    border-radius: 50px;
    background-color: #31a97a;
    color: #221c35;
}

.calc-left-side {
    text-align: center;
}

.text-field {
    padding-top: 20px;
}

input[type="text"],
textarea {
    background-color: #37cb94;
    border: none;
    border-radius: 50px;
    font-size: 40px;
    padding-left: 1.75rem;

}

input[type="text"]:focus {
    box-shadow: none;

    outline-width: 0;
    outline: none;
    border: none;
    color: #221c35;
    background-color: #37cb94;
}

.value-heading {
    text-align: center;
    font-size: 40px;
}

.input-group>.form-control {
    max-width: 300px;
}

.input-group>.bottom {
    max-width: 200px;
}



.calc-right-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group-text {
    font-size: 40px;
}

.input-group-text {
    height: 100%;
    background-color: #37cb94;
    outline: none;
    border: none;
}


.input-group {
    width: 33.333333%;
}


.input-group-text.rounded-right {
    border-radius: 0 50px 50px 0;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    line-height: 60px;
}

.input-group-text.rounded-left {
    border-radius: 50px 0 0 50px;
    padding-left: 1.75rem;
    padding-right: 1.75rem;

}



.button-holder {
    padding-top: 20px;
}

.input-group>.bottom,
.input-group>.middle {
    padding-left: 1.75rem;
    text-align: right;

}

.input-group>.top {
    padding-right: 0;
    padding-left: 0;
}

.container-top {
    padding-top: 24px;
}

.container-middle {
    padding: 24px 0;
}

.container-bottom {
    padding-bottom: 24px;
}